.Post {
  background-color: #258a9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  border-style: groove;
  padding: 20px 10px;
  margin: 2%;
}
