.Header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  border-style: groove;
  position: relative; /* Sticky header will change this value */
  margin-top: 0 !important; 
  margin-left: 0 !important;
}

.stickyHeader {
  position: relative;
  visibility: hidden;
}

.sticky .stickyHeaderInner {
  visibility: visible;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-style: groove;
  font-size: calc(10px + 1vmin);
  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

a {
  margin-left: 1%;
}

