.Body {
  background-color: #c44308;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-style: groove;
  padding: 20px 10px;
}
